################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MrfEmployeeLogin/.vs/MRF-HRMS/v15/Server/sqlite3
